---
layout: blog
---

<section id="main-content" class="container content-section">
<div class="row">
<div class="col-lg-12">
{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <div>
      {% for post in yearMonth.items %}
        {% assign page_date = post.date | date: '%B %-d, %Y'  %}
        <!-- <h3 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h3> -->
        <h3 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <span class="post_date">{{ page_date }}</span>
        <p>
        {{ post.abstract }}
        <br/><a href="{{ post.url }}">Read more</a>
        </p>
      {% endfor %}
  </div>
{% endfor %}
</div>
</div>
</section>
