---
layout: research
---

<section id="main-content" class="container content-section">
<div class="row">
<div class="col-lg-12">
{% assign papers = site.data.papers %}
{% for paper in papers %}
  <div>
    {% assign page_date = paper.date | date: '%Y'  %}
    <h3 class="post_title"><a href="{{ paper.arxiv }}" target="_blank">{{ paper.title }}</a></h3>
    {% if paper.conference.size > 0 %}
    <span class="post_name">{{ paper.conference }}</span>
    {% else %}
    <span class="post_date">{{ page_date }}</span>
    {% endif %}
    <span class="post_name">{{ paper.authors }}</span>
    <p>
    {{ paper.abstract }}
    <br/><a href="{{ paper.arxiv }}" target="_blank">Arxiv</a>&nbsp;
    {% if paper.github.size > 0 %}
    <a href="{{ paper.github }}" target="_blank">Code</a>
    {% endif %}
    {% if paper.project_page.size > 0 %}
    <a href="{{ paper.project_page }}" target="_blank">Project page</a>
    {% endif %}
    </p>
    <p>
    </p>
  </div>
{% endfor %}
</div>
</div>
</section>
