<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {{- if .IsHome -}}
    {{ .Site.Title }}
  {{- else -}}
    {{ .Title }} | {{ .Site.Title }}
  {{- end -}}
</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ with .Params.summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS Feed" href="{{ "index.xml" | absURL }}">
<link rel="icon" type="image/png" href="{{ "img/favicon/favicon.png" | relURL }}">
<link rel="stylesheet" href="{{ "style.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/font-awesome/css/font-awesome.min.css" | relURL }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
