{{ $home := "/" | relURL }}
{{ $research := "/research/" | relURL }}
{{ $about := "/about/" | relURL }}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="{{ $home }}">
        {{ .Site.Title }}
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="{{ if or (eq .RelPermalink $home) (eq .Section "posts") }}active{{ end }}">
          <a class="page-scroll" href="{{ $home }}">Blog</a>
        </li>
        <li class="{{ if eq .RelPermalink $research }}active{{ end }}">
          <a class="page-scroll" href="{{ $research }}">Research</a>
        </li>
        <li class="{{ if eq .RelPermalink $about }}active{{ end }}">
          <a class="page-scroll" href="{{ $about }}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
